<h1 mat-dialog-title>Edit Package Details</h1>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="planForm">
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Cost Price</mat-label>
            <input matInput type="number" formControlName="price">
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Selling Price</mat-label>
            <input matInput type="number" formControlName="sellingPrice">
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <mat-spinner [diameter]="30" *ngIf="isEditing"></mat-spinner>
    <button mat-raised-button *ngIf="!isEditing" color="warn" mat-dialog-close [mat-dialog-close]="false">Cancel</button>
    <button *ngIf="!isEditing" mat-raised-button color="primary" (click)="editPlan()">Save</button>
</mat-dialog-actions>