<h1 mat-dialog-title>Edit Slot Price</h1>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="slotEditForm">
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Seasonal Price</mat-label>
            <input matInput type="number" formControlName="price">
        </mat-form-field>
        <mat-hint>positive value to increment and negative value to decrement respective to base price, current slot price is <strong>{{currentSlotPrice}}&#8377;</strong></mat-hint>
        <br>
        <br>
        <h3>Base Price &nbsp;{{basePrice}}&#8377;</h3>
        <h3>New Slot Price &nbsp;{{slotPrice}}&#8377;</h3>
        <h3>Total Price &nbsp;{{totalAmount}}&#8377;</h3>
    </form>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <mat-spinner [diameter]="30" *ngIf="isEditing"></mat-spinner>
    <button mat-raised-button *ngIf="!isEditing" color="warn" mat-dialog-close [mat-dialog-close]="false">Cancel</button>
    <button *ngIf="!isEditing" mat-raised-button color="primary" (click)="editSlotPrice()">Edit</button>
</mat-dialog-actions>